<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://covers.openlibrary.org/b/isbn/<%= data.isbn %>-L.jpg" class="d-block mx-lg-auto img-fluid" width="700px" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= data.title %></h1>
        <p class="col-lg-8 text-muted mx-auto">Date: <%= data.date_read %> | Rate: <%= data.rate %> /10</p>
        <p class="lead"><%= data.review %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/header.ejs") %>
